<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Seahorses Forever</h2>
                <hr class="light">
                <p class="text-faded"><i><b>Seahorses Forever</b></i> is a hangout comedy about a Los Angeles-based rock band moonlighting as babysitters. The show is a throwback to cartoons of the 1970s like <i>Scooby Doo</i> or <i>Josie and the Pussycats</i> except <i><b>Seahorses Forever</b></i> is a raunchy stoner comedy with risque jokes. It's <i>Metalocaplypse</i> meets <i>Speed Buggy</i> coming down from an LSD trip with the <i>Muppet Babies</i>!</p>
              <p class="text-faded">All artwork on this website and in pitch materials by <a style="color:blue" href="https://www.instagram.com/leighsketches/" target="_blank">Thomas Leigh</a></p>
            </div>
        </div>
    </div>
</section>
