<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get in touch!</h2>
                <hr class="primary">
                <p>Email today if you want to learn more about Seahorses Forever!</p>
            </div>

 <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href=#">
                <i class="fa fa-phone-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>(818) 720-1504</p>
            </a>
        </div>
          
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:jalinikoff@gmail.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>jalinikoff@gmail.com</p>
            </a>
        </div>

            <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.imdb.com/name/nm4702006/">
            <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Jake Alinikoff - IMDb Profile</p>
            </a>
        </div>

    </div>
</section>
