<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/channel/UCC40EULO7fMBsYBmtx0z3FQ/videos" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/1A.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Watch Now
                            </div>
                            <div class="project-name">
                                Concert Footage
                            </div>
                        </div>
                    </div>
                </a>
            </div>

          <div class="col-lg-4 col-sm-6">
              <a href="https://www.youtube.com/channel/UCD0FzkGPlc9dzRxkLrf7F7A/videos" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/6A.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Watch Now
                            </div>
                            <div class="project-name">
                                More Concert Footage
                            </div>
                        </div>
                    </div>
                </a>
              </div>
          
            <div class="col-lg-4 col-sm-6">
                <a href="https://seahorses4ever.bandcamp.com/album/blood-bath-beyond" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/2A.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Buy Now
                            </div>
                            <div class="project-name">
                                Album Exclusively on BandCamp
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/SH4E PILOT 2022 revision.pdf" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/3A.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Read Now
                            </div>
                            <div class="project-name">
                                Cartoon Pilot Script
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/SH4E pitch deck 2022 revision.pdf" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/4ABC.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Read Now
                            </div>
                            <div class="project-name">
                                Cartoon Pitch Deck
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/SFBC comic issue 1.pdf" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/5A.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Read Now
                            </div>
                            <div class="project-name">
                                Comic Book Sample
                            </div>
                        </div>
                    </div>
                </a>
            </div>

          <div class="col-lg-4 col-sm-6">
            
             <iframe width="505" height="266"class="video" src="https://www.youtube.com/embed/pdp0nRydLUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
              </div>

          <div class="col-lg-4 col-sm-6">
               
          <div class="bandcamp">
  <iframe class="bandcamp-responsive-iframe" style="border: 0; width: 505px; height: 266px;" src="https://bandcamp.com/EmbeddedPlayer/album=3910044696/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="https://seahorses4ever.bandcamp.com/album/blood-bath-beyond">Blood Bath &amp; Beyond by Seahorses Forever</a></iframe>
</div>
              
               </div>
        </div>
    </div>
</section>
